
@media screen and (max-width: 1199px) {
.container{width:1000px;}
.desktop-menu ul li {	padding-right: 20px;}
.slider-sec .arrow img {	width: 12px;	}
.desktop-menu ul li a {	font-size: 13px;	}
.hservice-sec {		margin: 50px 0 80px;}
.service-sec {	margin: 30px 0 10px;}
.service-sec ul li {	width: 311px;	}
.service-sec ul li figure {	height: 200px;}
.service-sec ul li .service-image .dh-overlay{border-bottom-left-radius:10px;border-bottom-right-radius:10px;}
.service-sec ul li h3 {	font-size: 23px;}
.hservice-sec .hserv-num {		font-size: 30px;}
.hproblem-main ul li {		width: 495px;}
.pservice-rgt {		width: 311px;}
.footer-lft {	width: 605px;}
.que-sec .question {float: left;	width: 300px;}
.que-sec .que-left {	padding-right: 20px;	}
.que-sec .que-rgt {	padding-left: 20px;	float:right;}
.que-sec .que-main {		font-size: 26px;	}
.que-sec .question-link {	width: 324px;	padding: 45px 40px;	left: 34%;	}
.que-sec .question-head {	font-size: 32px;line-height: 42px;}
.que-sec .que-left .que-main {	text-align: center;}
.que-sec .que-rgt .que-main {	text-align: center;}
.que-sec .que-bg{	padding: 31px 0;	}
.home-welcome {	margin: 30px 0;}
.desktop-menu ul li ul li a{font-size: 12px;}
.inner-block .cms-content{width:685px;}
.inner-block .cms-content h1{font-size: 28px;line-height: 40px;}
.inner-block .cms-content h5{line-height: 21px;margin: 25px 0 0 0;}
.inner-block .cms-content h4{font-size: 20px;}

.contact h1{font-size: 28px;line-height: 40px;}
.contact h4{font-size: 20px;}

blockquote p{font-size: 20px!important;}
.team ul li{width:179px!important;min-height: 280px;}
.blog .blog-content{width: 685px;}
.blog .blog-inner-content{width: 685px;}
.blog .blog-inner-content h1{font-size: 28px;line-height: 40px;}
.blog-inner-content h4 {font-size: 20px;}
.home-slide .caption{top:14px;}
.home-slide .caption h3{font-size: 21px;}
.home-slide .caption h1{font-size: 32px;line-height: 40px;}
.home-slide .banner-phone{width:200px;}
}



@media screen and (max-width: 1023px) {
.container{width:750px;}
.mobile-nav {	display: inline-block;	float: left;	width: auto;	position: absolute;	left: 10px;	top: 30px;}
.menu-btn > span {  float: left;  margin-left: 7px;margin-top:4px;}
.mobile-nav .menu-btn{display:inline-block;float:left;text-align:center;width:auto;}
.menu-btn > img{height:25px;float:left;display:inline-block;width:30px;}
.mobile-nav a{color:#000;float:left;font-size:14px;font-weight:600;width:auto;line-height:19px;}
.desktop-menu {		display: none;	}
.header-left {	float: none;	display: inline-block;	text-align: center;}
.logo {		width: 180px;}
.slider-sec .arrow img {	width: 8px;}
.service-sec ul li:nth-child(3n) {	margin-right: 33px;}
.service-sec ul li:nth-child(2n) {	margin-right: 0px;}
.service-sec ul li:last-child{	margin-right: 0px;}
.service-sec ul {	text-align:center}
.service-sec ul li{	text-align:center;float:none;display:inline-block}
.service-sec ul {	float: left;	width: 100%;}
.que-sec .question {	float: left;	width: 100%;}
.que-sec .question-link {	width: 50%;	padding: 45px 40px;	left: 0;	position: relative;	margin: 30px 0;	float: none;	display: inline-block;}
.que-sec .que-left {	padding-right: 0;}
.que-sec .que-rgt {	padding-left: 0;	float: left;}
.welcome-main {	margin: 20px 0 20px;}
.hproblem-main {	padding: 40px 0 40px;}
.hproblem-main h4 {		margin-bottom: 30px;}
header.sticky .mobile-nav {	top: 26px;}
.hproblem-main ul li {	width: 100%;	margin-right: 0;}
.pservice-rgt {	width: 82%;}
.field-rgt,.field-lft {		width: 48%;	}
.home-conatct-form {	margin: 38px 0;}
.footer-lft {	width: 100%;}
.footer-rgt {	float: left;	width: 100%;margin-top: 20px;}
.newsletter-sec {		width: 360px;	}
.footer-menu {	width: 49%;}
.inner-footer {	margin: 20px 0;}
.newsletter-main {float:left;width: 60%;}

.footer-social-link {width: 38%;margin-top:0}
.inner-banner .breadscrumb{padding: 10px 0;}
.inner-banner .breadscrumb span{font-size: 13px;}
.inner-block{margin: 30px 0;}
.inner-block .cms-content{width:435px;}
.inner-block .cms-content h1{font-size: 22px;line-height: 32px;}
.contact h1{font-size: 22px;line-height: 32px;}
.inner-block .cms-content h5{font-size: 15px;}
.inner-block .cms-content .mindfulness{width:100%;}
.inner-block .cms-content h4{line-height: 27px;font-size: 18px;}
.contact h4{line-height: 27px;font-size: 18px;}
.inner-block .right-sidebar .testimonials h2{font-size: 16px;padding: 20px 50px;}
.inner-block .right-sidebar .contact-form h2{font-size: 16px;}
.inner-block .right-sidebar .contact-form .field-lft input{height: 43px;}
.inner-block .right-sidebar .contact-form .field-rgt textarea{height: 90px;}
blockquote p{font-size: 18px!important;}
.inner-block .cms-content h4{margin: 25px 0 0 0;}
.inner-block .cms-content p{margin: 15px 0 0 0;}
table td{width:auto;}
.team ul li{width: 168px !important;min-height: 220px;}
.contact .contact-sec{width:400px;}
.contact .contact-details{width:300px;}
.contact .map{margin-top: 10px;}
.contact .map iframe{height: 450px;}
.appointment-sec{width: 400px;}
.blog .blog-content {width: 435px;}
.blog .right-sidebar .testimonials h2{font-size: 16px;padding: 20px 50px;}
.blog .right-sidebar .contact-form h2{font-size: 16px;}
.blog .right-sidebar .contact-form .field-lft input{height: 43px;}
.blog .right-sidebar .contact-form .field-rgt textarea{height: 90px;}

.blog .blog-inner-content {width: 435px;}
.blog .blog-inner-content h1{font-size: 22px;line-height: 32px;}
.home-slide .caption h3{font-size: 18px;}
.home-slide .caption h1{font-size: 26px;line-height: 32px;}
.home-slide .banner-phone{width:170px;margin-top: 6px;}
#table-id td:first-child{width:120px!important;}
.home-slide .caption h5{font-size: 12px;}
}


@media screen and (max-width: 767px) {
.container{width:620px;}
.hservice-sec .hservice-title h2 {		font-size: 30px;}
.hservice-sec .hser-sub-text {	font-size: 15px;}
.service-sec ul li {	width: 291px;}
.service-sec ul li figure {	height: 187px;}
.pservice-rgt {	width: 78%;}
.ul-part ul.common-ul {		width: 100%;	margin-bottom: 0;}
.copyright {	padding: 20px 30px;	}
.copyright p {	line-height: 20px;}
ul.common-ul li {		background: url(../images/round.png)no-repeat left 9px;	}

.inner-block .cms-content{width:100%;}
.inner-block .right-sidebar{width:100%;margin: 30px 0 0 0;}
.inner-block .right-sidebar .testimonials{min-height: 0;}
.inner-block .right-sidebar .testimonials .box-content::before{top: 56px;left: 18px;}
.inner-block .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]{float: left;}
.team ul li{margin-right: 58px;}
.team ul li:nth-child(3){margin-right: 0!important;}
.contact .contact-sec{width: 100%;}
.contact .contact-details{width:100%;}
.contact .map iframe {height: 250px;}
.contact{margin-bottom: 0;}
.appointment-sec{width:100%;}
.blog .blog-content{width:100%;margin-bottom: 30px;}
.blog .right-sidebar{width:100%;}
.blog .right-sidebar .testimonials .box-content::before{top: 56px;left: 18px;}
.blog .right-sidebar .testimonials{min-height: 0;}
.blog .comments-area{margin-bottom: 30px;}
.blog .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]{float: left;}
.blog .blog-inner-content {width: 100%;}
.blog-inner-content h4 {font-size: 18px;line-height: 21px;}
.home-slide .caption h3{font-size: 15px;}
.home-slide .caption h1 {font-size: 20px;line-height: 25px;}
.home-slide .caption h5{font-size: 10px;}
.home-slide .caption h1{margin-top: 8px;}
.home-slide .banner-phone{width:150px;}

}

@media screen and (max-width: 639px) {
.container{width:548px;}
.hservice-sec {	margin: 30px 0 30px;}
.service-sec ul li:nth-child(3n) {	margin-right: 20px;}
.service-sec ul li:nth-child(2n) {	margin-right: 0px;}
.service-sec ul li {	width: 262px;	margin-right: 20px;	margin-bottom: 24px;}
.hservice-sec .hserv-info {	font-size: 16px;	line-height: 23px;}
.question-link {	width: 67%;	}
.home-welcome h4,.hproblem-main h4 ,.home-bottom-page h4,.home-conatct-form h5,.footer-rgt h6{	font-size: 26px;}
.home-welcome .hwelcome-sub {	font-size: 14px;	margin-bottom: 15px;}
.pservice-rgt {	width: 74%;}
.field-rgt, .field-lft {	width: 100%;	margin-right: 0;}
.submit-sec {	float: left;	width: 100%;	text-align: center;}
.field-rgt .submit-sec input[type="submit"]{float:none;display:inline-block;text-align:center}
.service-sec ul li figure {	height: 154px;}
.service-sec ul li h3 {	font-size: 19px;}
.newsletter-main {float: left;	width: 66%;}
.footer-social-link {	width: 34%;}
.inner-block .right-sidebar .testimonials .box-content::before{left:7px;}
.team ul li{width:144px!important;}
.submit-sec{text-align: left;}
.home-slide .caption h1{font-size: 15px;line-height: 20px;}
.home-slide .caption h5 {font-size: 9px;text-shadow: 1px 0;}
.home-slide .banner-phone {width: 130px;}
.banner-dropdown{left: 54%;margin-left: -75px;width: 100px;}
}


@media screen and (max-width: 567px) {
.container{width:400px;}
.service-sec ul li:nth-child(3n) {	margin-right: 0px;}
.service-sec ul li {	margin-right: 0px;}
.question-link {	width: 100%;}
.home-welcome .hwelcome-sub {		line-height: 20px;}
.pservice-rgt {	width: 63%;}
.footer-menu {	width: 100%;	box-sizing: border-box;}
.hservice-sec .hservice-title h2 {	font-size: 26px;}
.service-sec {	margin: 20px 0 10px;}
.logo {	width: 147px;}
.mobile-nav {	top: 26px;}
.arrow {	bottom: -1px;}
.slider-sec .arrow img {	width: 7px;}
header.sticky .logo {	float: left;	width: 120px;}
header.sticky .mobile-nav {	top: 21px;}
.newsletter-main {float: left;	width: 100%;}
.footer-social-link {	width: 100%;margin-top:20px;}
blockquote p{font-size: 17px !important;}
.team ul li{width:180px!important;margin-right: 40px;}
.team ul li:nth-child(3){margin-right: 40px!important;}
.team ul li:nth-child(even){margin-right: 0!important;}
.inner-banner .breadscrumb span {font-size: 12px;}
.que-sec .question-link{width:80%;}
.home-welcome h4{line-height: 30px;}
.pservice-img{width:100%;}
.pservice-rgt{width:100%;}
.pservice-rgt h5{text-align: center;}
.pservice-rgt .pservice-txt p{text-align: center;}
.home-slide .caption{top:4px;}
.home-slide .caption h3{font-size: 10px;}
.home-slide .caption h1 {font-size: 10px;line-height: 15px;margin-top: 2px;}
.home-slide .caption h5 {font-size: 10px;}
.home-slide .banner-phone {width: 100px;margin-top: 6px;}
.banner-dropdown{margin-left: -68px;}
}



@media screen and (max-width: 413px) {
.container{width:300px;}
.menu-btn > span {	font-size: 0;}
.hproblem-main ul li {		padding: 20px;}
.pservice-rgt {	width: 61%;}
.pservice-img {	float: left;	width: 84px;	margin-right: 15px;}
.pservice-rgt h5 {	font-size: 16px;		line-height: 20px;}
.pservice-rgt .pservice-txt p {	line-height: 25px;}
.newsletter-sec {	width: 100%;}
.footer-social-link {	margin-top: 20px;}
.menu-btn > img {	height: 19px;	float: left;display: inline-block;	width: 23px;}
.mobile-nav {	top: 28px;}
header.sticky .mobile-nav {	top: 22px;}
.inner-banner .breadscrumb span{font-size: 10px;line-height: 20px;}
.inner-banner .breadscrumb{padding: 5px 0;}
.inner-block .right-sidebar .contact-form .recaptcha-sec{transform: scale(0.86) !important;-webkit-transform: scale(0.86) !important;transform-origin: 0 0;-webkit-transform-origin: 0 0;}
.inner-block .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]{float: none;display: inline-block;}
.inner-block .right-sidebar .testimonials .box-content::before{left:126px;top:26px;}
.team ul li {width: 100% !important;margin-right: 0px;}
.contact .recaptcha-sec{ transform:scale(0.86);  -webkit-transform: scale(0.86);  transform-origin:0 0;  -webkit-transform-origin:0 0;margin-top: 0;} 
.contact .field-rgt .submit-sec input[type="submit"]{margin-top: 0;}
.appointment-sec .recaptcha-sec{transform: scale(0.86) !important;-webkit-transform: scale(0.86) !important;transform-origin: 0 0;-webkit-transform-origin: 0 0;}
.blog .comments-area{width:100%;}
.inner-banner .breadscrumb span:first-child{padding-left: 6px;}
.que-sec .question-link{width:100%;}
.pservice-img{width:100%;}
.pservice-rgt{width:100%;}
.pservice-rgt h5{text-align: center;}
.pservice-rgt .pservice-txt p{text-align: center;}
.home-slide .caption{top:0;}
.home-slide .caption h3{font-size: 8px;}
.home-slide .caption h1{font-size: 8px;line-height: 12px;margin-top: 2px;}
.home-slide .caption h5 {font-size: 9px;margin-top: 0;}
.home-slide .banner-phone {width: 85px;margin-top: 2px;}
.mbsr-num{width:100%;float:left;}
.banner-dropdown{margin-left: -56px;width: 82px;}
}
