@import url(jquery.mmenu.all.css);
@import url(menumaker.css);
@import url(jquery.bxslider.css);

/*font-family: 'Open Sans', sans-serif;
 font-family: 'Libre Baskerville';
*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kfeature-product-div,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figcaption,figure,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
border:0; font:inherit; font-size:100%; outline:0; vertical-align:baseline; margin:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block; *zoom:1;}
blockquote,q {quotes:none;}
blockquote:before,blockquote:after,q:before,q:after {content:none;}
a {background:transparent; color:#000; outline:none; text-decoration:none; vertical-align:baseline; margin:0; padding:0;}
a:hover { text-decoration:none;}
abbr[title],dfn[title] {border-bottom:1px dotted; cursor:help;}
input,select {vertical-align:middle; border:none; outline:none; border-radius:0;}
input:focus{border:none; outline:none;}
select::-ms-expand {display: none;}
select:focus{border:none; outline:none;  -webkit-appearance:none;}
textarea{border:none; outline:none;  -webkit-appearance:none;}
html {-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;}
button,html input[type="button"],input[type="reset"],input[type="submit"] {-webkit-appearance:button; -webkit-border-radius: 0; cursor:pointer;}
button[disabled],input[disabled] {cursor:default;font-family: 'Open Sans', sans-serif;}
input[type="checkbox"],input[type="radio"] {box-sizing:border-box; padding:0;}
input[type="search"] {-moz-box-sizing:content-box; -webkit-appearance:textfield; -webkit-box-sizing:content-box; box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration {-webkit-appearance:none;}
input::-moz-focus-inner {border:0;padding:0;}
input[type="text"], input[type="name"], input[type="email"], input[type="date"], input[type="tel"]{ outline:none; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none;}
input[type="text"]:focus, input[type="name"]:focus, input[type="email"]:focus, input[type="date"]:focus, input[type="tel"]:focus{ outline:none;}
textarea {overflow:auto;vertical-align:top; border-radius:0px; -moz-border-radius:0px; -webkit-border-radius:0px; -webkit-appearance: none; font-weight:400; border:none; font-family: 'Open Sans', sans-serif;}
textarea:focus{ outline:none;}
h1,h2,h3,h4,h5,h6 {font-weight:400;}
img {max-width: 100%;height: auto;width: auto\9; /* ie8 */border:none;  }
*{ margin:0px; padding:0px;}
nav ul {list-style:none;}
ul{ list-style:none;}
strong{ font-weight:700;}
.nopad{ padding-bottom:0px !important;}     
em{ font-style:italic;}
div{-webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box;}
body{font-size:15px;  font-weight:400; margin:0px; padding:0px; text-align:center; -webkit-font-smoothing: antialiased;-webkit-text-stroke-width: 0px; -moz-osx-font-smoothing: grayscale;
-ms-text-size-adjust:100%; -webkit-text-size-adjust:100%;line-height:1;font-family: 'Open Sans', sans-serif;}
#wrapper{ width:100%; float:left; background:#fff; }
#menu .mm-menu{display:none;}
#menu .mm-menu.mm-opened{display:block !important;}
.mm-listview > li > a,
 .mm-listview > li > span{font-family: 'Open Sans', sans-serif;font-weight:400; color: #000;}
.mobile-nav{display:none;}
.mobile-nav .mm-panels{background-color:#fff !important;}
.mobile-nav .mm-navbar .mm-title { padding-left:0px;  padding-right: 20px; }
.tab-call{display:none;}
.container{width:1170px; margin:0px auto;}
header{float:left;width:100%;}
header.sticky{position: fixed;width: 100%;z-index:9999;top:0;margin:0;-webkit-animation: fadeInDown 1s both;animation: fadeInDown 1s both;background-color:#fff;box-shadow:2px 2px 7px rgba(0,0,0,0.3)}
header.sticky  .header-lft .logo{width:200px}
header.sticky #cssmenu > ul > li > a {padding: 22px 10px;}
header.sticky .header_top {display:none}
@-webkit-keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
transform:translateY(0);
}
}
@keyframes fadeInDown {
0% {
opacity:0;
-webkit-transform:translateY(-20px);
-ms-transform:translateY(-20px);
transform:translateY(-20px);
}
100% {
opacity:1;
-webkit-transform:translateY(0);
-ms-transform:translateY(0);
transform:translateY(0);
}
}
.arrow {	width: 100%;	float: left;	}
.slider-sec img{position:relative;}
.arrow{float:left;width:100%;text-align:center;position:absolute;bottom:0;}
.slider-sec .arrow img{float:none;width:auto;text-align:center;display:inline-block}
.header_sec{float:left;width:100%;box-sizing: border-box;}
.header-left{float:left;width:auto;padding:12px 0 6px;}
.header-right{float:right;width:auto;}
.desktop-menu{float:left;width:100%;}
.desktop-menu ul{float:left;width:100%;text-align:center}
.desktop-menu ul li{float:none;width:auto;text-align:center;display:inline-block;padding-right:39px;box-sizing:border-box;position:relative;padding-top:42px;padding-bottom:42px;box-sizing: border-box;}
.desktop-menu ul li ul{display:none;position: relative;}
.desktop-menu ul li ul:before{position: absolute;content:'';background: url('../images/dropdown.png') no-repeat;width:19px;height:10px;top:-9px;left:18px;}
.desktop-menu ul li ul li ul::before{background: none;}
.desktop-menu ul li:hover ul{ display:inline-block;position:absolute;top:75%;left:-16%;z-index:99;width:260px;background:rgba(255,255,255,1);float:left;padding:0px 15px 0px 15px;-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.19);-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.19);
box-shadow:0px 5px 5px 0px rgba(50, 50, 50, 0.19);border: 1px solid #b1b1b1;padding-bottom: 17px;}
.desktop-menu ul li ul li{padding-bottom:8px;padding-left:10px;padding-right:20px;padding-top:8px;border-bottom:1px solid #ccc;box-sizing:border-box}
.desktop-menu ul li ul li a{float:left;width:100%;text-align:left;font-size:14px;line-height:20px;}
.desktop-menu ul li ul li a:hover{color:#2c4651}





.desktop-menu ul li a:hover{color:#2c4651}
.desktop-menu ul li:hover ul li ul{display:none;}
.desktop-menu ul li ul li:hover ul{display:inline-block;position:absolute;top:auto;left:100%;z-index:99;width:300px;float:left;}
.desktop-menu ul li ul li{width:100%;float:left;}
.desktop-menu ul li ul li:first-child{padding-top: 24px;}
.desktop-menu ul li:last-child{padding-right:0px;}
.desktop-menu ul li a {	font-size: 14px;	width: auto;	color: #959595;	font-weight: 600;	float: left;	position: relative;	text-transform: uppercase;	line-height: 27px;}
.desktop-menu ul li.current_page_item a{color:#2c4651;position:relative}
.desktop-menu ul li.current_menu_item a{color:#2c4651;}
section{float:left;width:100%}
.min-sec{float:left;width:100%}
.slider-sec{float:left;width:100%;position: relative;}
.slider-sec img{font-size:0;float: left;}
.slider-sec ul{float:left;width:100%}
.slider-sec ul li{float:left;width:100%;position:relative}
.slider-sec .owl-prev {  background: rgba(0, 0, 0, 0) url("../images/slide-prev.png") no-repeat scroll center center;  float: left;  font-size: 0;  height: 32px;  left: 30px;  margin-top: -12px;  position: absolute; top: 50%;  width: 18px;}
.slider-sec .owl-next {  background: rgba(0, 0, 0, 0) url("../images/slide-next.png") no-repeat scroll center center;  float: left;  font-size: 0;  height: 32px;  margin-top: -12px;  position: absolute;  right: 30px;top: 50%;  width: 18px;}
.slider-text {	float: left;	width: 100%;	position: absolute;	bottom: 0;	text-align: left;background:rgba(0,0,0,0.70);padding:10px;box-sizing:border-box;}
.hservice-sec {	float: left;	width: 100%;	text-align: center;	margin: 88px 0 110px;}
.hservice-sec .hservice-title {float:left;width:100%;text-align:center;}
.hservice-sec .hservice-title h2{float:none;width:auto;text-align:center;font-size:35px;color:#000;font-family: 'Libre Baskerville';display:inline-block;position:relative;padding-bottom:15px;margin-bottom:15px;font-weight:400;}
.hservice-sec .hservice-title h2::after {	background: #7895a3 none repeat scroll 0 0;	content: "";	height: 2px;	right: 39%;
	margin-top: -1px;	position: absolute;	top: 100%;	width: 63px;}
.hservice-sec .hser-sub-text{float:none;width:auto;text-align:center;font-size:17px;color:#4c4c4c;font-family: 'Open Sans', sans-serif;display:inline-block;line-height:25px;font-weight:700;text-transform:uppercase}
.service-sec {	float: left;	width: 100%;	margin: 60px 0 30px; }
.service-sec ul{	float: left;	width: 100%;	}
.service-sec ul li{	float: left;	width:368px;	margin-right: 33px;margin-bottom:33px;position:relative;}
.service-sec ul li:nth-child(3n){	margin-right: 0px;}
.service-sec ul li h3{float:left;width:100%;text-align:center;font-size:25px;color:#fff;font-family: 'Open Sans', sans-serif;display:inline-block;line-height:25px;font-weight:600;position:absolute;bottom:20px;left:0;right:0;z-index:99}
.service-sec ul li figure {	text-align: center;	vertical-align: middle;	-moz-transition: all 0.6s ease;	-o-transition: all 0.6s ease;
	-webkit-transition: all 0.6s ease;	transition: all 0.6s ease;	overflow: hidden;	height: 237px;	float: left;border-radius:10px;}
.service-sec ul li figure span {	display: table-cell;	text-align: center;	vertical-align: middle;	width: 100%;}
.service-sec ul li figure span img {	display: inline-block;	max-width: 100%;	vertical-align: middle;	margin: 0;
	-moz-transition: all 0.6s ease;	-o-transition: all 0.6s ease;	-webkit-transition: all 0.6s ease;	transition: all 0.6s ease;	-moz-transform: scale(1);	-ms-transform: scale(1);	-webkit-transform: scale(1);	transform: scale(1);	max-width: 100%;	font-size: 0;}
.service-sec ul li:hover figure span img {	-moz-transform: scale(1.2);	-ms-transform: scale(1.2);	-webkit-transform: scale(1.2);	transform:scale(1.2);}
.service-sec ul li .service-image .dh-overlay {	width: 100%;	height: 100%;	position: absolute;	z-index: 99;	opacity: 1;	left: 0;
	right: 0;	top: 0;	bottom: 0;}
.service-sec ul li .service-image:hover .dh-overlay {	opacity: 1;}
.service-sec ul li:first-child .service-image .dh-overlay {background: url(../images/service1-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(2n) .service-image .dh-overlay {background: url(../images/service2-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(3n) .service-image .dh-overlay {background: url(../images/service3-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(4n) .service-image .dh-overlay {background: url(../images/service4-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(5n) .service-image .dh-overlay {background: url(../images/service5-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(6n) .service-image .dh-overlay {background: url(../images/service6-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(7n) .service-image .dh-overlay {background: url(../images/service7-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(8n) .service-image .dh-overlay {background: url(../images/service8-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.service-sec ul li:nth-child(9n) .service-image .dh-overlay {background: url(../images/service9-hover.png) no-repeat bottom center;	float: left;	width: 100%;}
.hservice-sec .hserv-info{	float: left;	width: 100%;	text-align: center;	font-size: 20px;	color: #000000;
	font-family: 'Open Sans', sans-serif;		line-height: 28px;	font-weight: 400;margin-bottom:20px;	}
.hservice-sec .hserv-num{	float: left;	width: 100%;	text-align: center;	font-size: 39px;	color: #000000;
	font-family: 'Open Sans', sans-serif;		line-height: 28px;	font-weight: 300;	}
.hservice-sec .hserv-num a{color:#000}
.hservice-sec .hserv-num a:hover{color:#2c4651}
.que-bg {	float: left;	width: 100%;	background: #2c4651;padding:50px 0;position:relative}
.que-sec {	float: left;	width: 100%;}
.que-sec .question {	float: left;width: 383px;}
.que-sec  .question-link {	float: left;	width: 404px;}
.que-sec  .que-main {	float: left;	width: 100%;		font-size: 32px;	font-weight: 4000;	text-transform: uppercase;	color: #fff;}
.que-sec  .que-left .que-main {	text-align: left;}
.que-sec  .que-rgt .que-main {	text-align: right;}
.que-sec  .que-left{	padding-right:90px;box-sizing:border-box;}
.que-sec  .que-rgt{	padding-left:55px;box-sizing:border-box;float: right;}
.que-sec  .que-click {	float:none;display:inline-block;	width: auto;text-align:center;	margin-top: 25px;}
.que-sec .que-click a{float:none;display:inline-block;width:auto;box-sizing:border-box;padding:13px 25px;border:2px solid #ff9c00;font-size:14px;color:#ff9c00;text-transform:uppercase;font-weight:700;border-radius: 25px;}
.que-sec .que-click a:hover{background:#7895a3;color: #fff;}
.que-sec .question-link {	float: left;	width: 404px;	padding: 63px 50px;	box-sizing: border-box;	background: #ff9c00;	position: absolute;
	left: 37%;	top: -15%;	border-radius: 10px;box-shadow:0 0 16px rgba(0,0,0,0.24)}
.que-sec .question-head {	float: left;	width: 100%;	font-size: 45px;	font-weight: 400; font-family: 'Libre Baskerville';line-height:52px;color:#000}
.que-sec .question-link a{float:left;width:100%;text-align:center;font-size: 17px;color:#000;text-transform:uppercase;font-weight:700;margin-top:10px;}
.que-sec .question-link a:hover{color:#fff}
.welcome-main {	float: left;	width: 100%;	margin: 65px 0 20px;}
.home-welcome {	float: left;	width: 100%;	margin: 60px 0 ;}
.home-welcome h4{float:left;width:100%;text-align:left;font-size:35px; font-family: 'Libre Baskerville';margin-bottom:15px;color:#000;font-weight:400;}
.home-welcome .hwelcome-sub{float:left;width:100%;text-align:left;font-size:16px;margin-bottom:35px;color:#4c4c4c;text-transform:uppercase;font-weight:700;}
.home-welcome .hwelcome-text{float:left;width:100% }
.home-welcome .hwelcome-text p{float:left;width:100%;text-align:left;font-size:15px;margin-bottom:25px;color:#4c4c4c;font-weight:400;line-height:27px;}
.home-welcome .hwelcome-readmore{float:left;width:100%;}
.home-welcome .hwelcome-readmore a{float:left;width:auto;text-align:left;font-size:14px;color:#ff9c00;font-weight:700;text-transform:uppercase;}
.home-welcome .hwelcome-readmore a:hover{color:#2c4651}
.hproblem-main {	float: left;	width: 100%;	background: #f4f5f4;	padding: 80px 0 60px;	box-sizing: border-box;}
.hproblem-main h4{float:left;width:100%;text-align:center;color:#000;font-size:35px;font-weight:400;margin-bottom:50px;}
.hproblem-main ul{float:left;width:100%}
.hproblem-main ul li{float:left;width:580px;margin-right:10px;margin-bottom:11px;border-radius:3px;background:#fff;border:1px solid #dddddd;box-sizing:border-box;padding:30px 30px 25px 30px;}
.hproblem-main ul li:nth-child(2n){margin-right:0px;}
.pservice-img {	float: left;	width: 95px;	margin-right: 25px;}
.pservice-img  figure{display: table;table-layout: fixed;text-align: center;vertical-align: middle;width: 100%;position:relative;}
.pservice-img  figure span{display: table-cell;height: 76px;text-align: center;vertical-align: top;width: 100%;}
.pservice-img  figure span img {display: inline-block;max-width: 100%;vertical-align: top;transform-style: preserve-3d;
  transition: all 5s ease-in-out; }
.pservice-rgt {	float: left;	width: 398px;}
.pservice-rgt h5 {float: left;	width: 100%;	text-align: left;	font-size: 18px;	color: #000;	font-weight: 700;	text-transform: uppercase;	margin-bottom: 10px;}
.pservice-rgt .pservice-txt {float: left;	width: 100%;	text-align: left;}
.pservice-rgt .pservice-txt p{float: left;	width: 100%;	text-align: left;	font-size: 15px;	color: #4c4c4c;	font-weight: 400;line-height:27px;}
.hproblem-main ul li:hover{	-moz-box-shadow: inset 0 0 15px rgba(44,70,81,0.3);	-webkit-box-shadow: inset 0 0 15px rgba(44,70,81,0.3);
	box-shadow: inset 0 0 15px rgba(44,70,81,0.3);}
.ul-part{float:left;width:100%}
.ul-part ul.common-ul{float:left;width:50%}
ul.common-ul{float:left;width:100%;margin-bottom:10px;}
ul.common-ul li{	float: left;	width: 100%;	text-align: left;font-size: 15px;	line-height: 27px;padding-left:22px;box-sizing:border-box;background:url(../images/round.png)no-repeat left center;color: #4c4c4c;margin-bottom:5px;}
.home-bottom-page{float:left;width:100%;margin:20px 0}
.home-bottom-page h4 {	float: left;	width: 100%;	text-align: center;	font-size: 35px;	font-family: 'Libre Baskerville';	margin-bottom:20px;	color: #fff;	font-weight: 400;line-height: 30px;}
.home-bottom-page .home-bottom-sub{	float: left;	width: 100%;	text-align: center;	font-size: 16px;margin-bottom:20px;	color: #fff;font-weight: 700;text-transform:uppercase}
.home-bottom-page .hbottom-page-text{	float: left;	width: 100%;	text-align: center;	font-size: 15px;line-height:27px;	color: #fff;font-weight: 400;}
.home-conatct-form {	float: left;	width: 100%;	margin: 78px 0;}
.home-conatct-form h5 {	float: left;	width: 100%;	text-align: center;	font-size: 35px;	font-family: 'Libre Baskerville';	margin-bottom:30px;	color: #000;	font-weight: 400;}
.contact-sec {	float: left;	width: 100%;text-align:center;}
.field-lft {	float: none;text-align:center;display:inline-block;	width: 402px;	margin-right: 20px;vertical-align:top}
.field-rgt {	float: none;text-align:center;display:inline-block;	width: 402px;vertical-align:top	}
.field-lft input{float:left;width:100%;font-size:15px;height:52px;border:1px solid #e2e2e2;color:#000;font-family: 'Open Sans', sans-serif;padding:0 15px;box-sizing:border-box;margin-bottom:15px;}
.field-rgt textarea{float:left;width:100%;font-size:15px;height:179px;border:1px solid #e2e2e2;color:#000;font-family: 'Open Sans', sans-serif;padding:15px 15px;box-sizing:border-box;resize:none;margin-bottom:15px;}
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {	border: 2px solid #f7e700;	display: none !important;}
.wpcf7-not-valid-tip {	float: left;	width: 100%;	text-align: left;	margin-bottom: 15px;}
.recaptcha-sec {	float: left;	width: 100%;	margin-top: 15px;}
.field-rgt .submit-sec input[type="submit"]{background:#ff9c00;color:#fff;width:198px;padding:14px 16px 16px 16px;height:46px;margin-top:30px;float:left;font-size:14px;font-weight:700;text-transform:uppercase;border-radius:23px;font-family: 'Open Sans', sans-serif;}
.field-rgt .submit-sec input[type="submit"]:hover{background:#2c4651}
.footer-border{float:left;width:100%;border-top:12px solid #7895a3;}
.inner-footer{float:left;width:100%;margin:50px 0}
.footer-lft{float:left;width:764px;}
.footer-rgt{float:right;width:395px;}
.footer-lft ul{float:left;width:100%}
.footer-menu{float:left;width:50%}
.footer-menu ul{float:left;width:100%}
.footer-menu ul li{float:left;width:100%;font-size:14px;color:#2c4651;font-weight:600;line-height:30px;text-transform:uppercase;text-align:left}
.footer-menu ul li ul li {	text-transform: capitalize;	text-align: left;	font-weight: 400;	line-height: 25px;	background: url("../images/footer-a.png") no-repeat left 13px;	padding-left: 10px;	box-sizing: border-box;}
.footer-menu ul li ul li ul{float:left;width:100%;padding-left:0px;box-sizing:border-box;background:none;}
.footer-menu ul li ul li ul li{background:none;}
.footer-menu ul li a{color:#2c4651}
.footer-menu ul li a:hover{color:#ff9c00}
.copyright {	float: left;	width: 100%;	border-top: 1px solid #e5e5e5;padding:30px;box-sizing:border-box;}
.copyright p {	float: left;	width: 100%;	text-align: center;	color: #999999;	font-size: 14px;}
.copyright p a{color: #999999;}
.copyright p a:hover{color:#ff9c00}
.footer-rgt h6 {	float: left;	width: 100%;	text-align: left;	font-weight: 700;	font-size: 31px;	color: #7f7f7f;margin-bottom:20px;}
.footer-rgt .sub-news {	float: left;	width: 100%;	text-align: left;	font-weight: 400;	font-size: 15px;	color: #000000;margin-bottom:20px;}
.footer-social-link ul li.facebook a {	float: left;	width: auto;	background: url("../images/facebook.png") no-repeat center center;	width: 39px;	height: 39px;}
.footer-social-link ul li.twitter a {	float: left;	width: auto;	background: url("../images/twitter.png") no-repeat center center;	width: 39px;	height: 39px;}
.footer-social-link ul li.gplus a {	float: left;	width: auto;	background: url("../images/gplus.png") no-repeat center center;	width: 39px;	height: 39px;}
.footer-social-link {	float: left;	width: 100%;	text-align: left;	margin-top: 30px;}
.footer-social-link ul li{	float: left;	width:auto;	text-align: left;	margin-right: 20px;}
.footer-social-link ul li:hover{opacity:0.7}
.newsletter-sec{float:left;width:100%;position:relative}
.newsletter-sec input[type="email"] {	float: left; margin-bottom: 10px;	width: 100%;	border: 2px solid #7895a3;	height: 52px;border-radius:26px;padding-left:67px;padding-right:47px;box-sizing:border-box;background:url("../images/msg-icon.png") no-repeat 30px center;font-size:15px;font-style:italic;color:#4c4c4c;font-family: 'Open Sans', sans-serif;}
.newsletter-sec input[type="submit"] {background:url("../images/msg-sub.png") no-repeat center center;height:52px;width:52px;float:right;position:absolute;top:0;right:0;font-size:0;}
.newsletter-sec input[type="submit"]:hover{opacity:0.6;}
.mailpoet_validate_error {	float: left;	width: 100%;	color: red;	margin-top: 4px;line-height:20px}
.mailpoet_validate_success {	float: left;	width: 100%;	color: green;	margin-top: 4px;	line-height: 20px;text-align: left;}


header.sticky .logo {	float: left;	width: 150px;}
header.sticky .desktop-menu ul li {		padding-top: 22px;	padding-bottom: 22px;	}
header.sticky .desktop-menu ul li ul li{padding-bottom:8px;padding-left:10px;padding-right:20px;padding-top:8px;border-bottom:1px solid #ccc;box-sizing:border-box}
header.sticky .desktop-menu ul li ul li:first-child{padding-top: 24px;}

.inner-banner{width:100%;float: left;position: relative;}
.inner-block{width:100%;float: left;margin: 40px 0;}
.inner-block .cms-content{width:855px;float: left;margin-right: 30px;}
.inner-block .cms-content h1{width:100%;float: left;font-size: 35px;color:#000;text-align: left;font-family: 'Libre Baskerville', serif;}
.inner-block .cms-content h5{width:100%;float: left;margin: 37px 0 0 0;color:#4c4c4c;font-weight: 700;font-size: 16px;text-align: left;text-transform: uppercase;}
.inner-block .cms-content p{width:100%;float: left;color:#4c4c4c;font-size: 15px;text-align: left;line-height: 27px;margin: 20px 0 0 0;}
.inner-block .cms-content h4{width:100%;float: left;color:#4c4c4c;font-size: 22px;font-weight: 700; text-align: left;margin: 37px 0 0 0;text-transform: uppercase;}
.inner-block .cms-content .mindful{float: left;width: auto;}
.inner-block .cms-content .mindful p{float: none;width: auto;margin: 20px 0 0 0;}
.inner-block .cms-content .mindfulness{float: left;width: auto;margin:50px 45px 34px 0}
.inner-block .cms-content .readmore{width:100%;float: left;margin-top: 30px;}
.inner-block .cms-content .readmore a{font-size: 14px;color:#ff9c00;font-weight: 700;text-transform: uppercase;text-align: left;width:100%;float: left;}
.inner-block .cms-content b{font-weight: 700;}
.inner-block .cms-content a{color: #ff9c00;}
.inner-block .cms-content a:hover{color:#4c4c4c;}
.inner-block .cms-content ul{width:100%;float: left;margin: 35px 0 0 0;list-style-type: disc;list-style-position: inside;padding-left: 15px;box-sizing: border-box;}
.inner-block .cms-content ul li{width:100%;text-align: left;margin-bottom: 16px;line-height: 23px;list-style-position: outside;color: #4c4c4c;line-height: 27px;}
.inner-block .cms-content .ring{color: #fff;background: #ff9c00;padding: 5px 30px;border-radius: 270px;font-weight: 700;width:auto;float: left;}
.inner-block .cms-content .ring:hover{color:#fff;}
.inner-block .cms-content ul span{font-weight: normal;color: #4c4c4c;}

.inner-block .right-sidebar{width:285px;float: left;}
.inner-block .right-sidebar .testimonials{width:100%; float: left;min-height: 400px;}
.inner-block .right-sidebar .testimonials h2{width:100%; float: left; text-align: center;font-size: 21px; color: #fff;text-transform: uppercase;background: #2c4651;padding: 25px 50px;box-sizing: border-box;font-family: 'Libre Baskerville', serif;}
.inner-block .right-sidebar .testimonials .box-content{padding: 65px 30px 29px 30px;position: relative;background: #f7f7f7;}
.inner-block .right-sidebar .testimonials .box-content:before{content: ''; background: url('../images/testimonial.png')no-repeat;position: absolute;top:22px;left:120px;width:27px;height: 22px;}
.inner-block .right-sidebar .testimonials p{font-size: 16px;font-style: italic;color: #4a4a4a;line-height: 27px;font-family: 'Open Sans', sans-serif!important;}
.inner-block .right-sidebar .testimonials .cycle-nav{display: none!important;}
.inner-block .right-sidebar .testimonials .box-title{display:none;}
.inner-block .right-sidebar .testimonials .box-image img{display:none;}

.inner-block .right-sidebar .contact-form{width:100%;float: left;background: #2c4651;padding: 27px 20px 24px 20px;margin-top: 5px;}
.inner-block .right-sidebar .contact-form h2{width:100%; float: left; text-align: center;font-size: 21px; color: #fff;text-transform: uppercase;background: #2c4651;box-sizing: border-box;font-family: 'Libre Baskerville', serif;line-height: 27px;margin: 0 0 21px 0;}
.inner-block .right-sidebar .contact-form .field-lft{width:100%;}
.inner-block .right-sidebar .contact-form .field-lft input {height:53px;margin-bottom: 7px;}
.inner-block .right-sidebar .contact-form .field-rgt textarea{height: 113px;margin-bottom: 7px;}
.inner-block .right-sidebar .contact-form .field-rgt{width:100%;}
.inner-block .right-sidebar .contact-form .recaptcha-sec{transform: scale(0.81)!important;-webkit-transform: scale(0.81)!important;transform-origin: 0 0;-webkit-transform-origin: 0 0;width:300px;margin-top: 0;}
.inner-block .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]{margin-top: 0;}
.inner-block .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]{float: none;display: inline-block;}
.inner-block .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]:hover{background: #ff9c00;}
.inner-block .right-sidebar .contact-form div.wpcf7 .ajax-loader{display: none;}

.inner-banner .breadscrumb{width:100%;float: left;position: absolute;bottom: 0;background:rgba(239,149,17,0.7);text-align: right;padding: 17px 0;}
.inner-banner .breadscrumb span{color:#fff;background: url('../images/breadscrumb.png')no-repeat left;width:5px;height: 7px;margin-left: 15px;}
.inner-banner .breadscrumb span:first-child{background: none;padding-left: 8px;}
blockquote{width:100%;float: left;border-left: 8px solid #189799;margin-top: 35px;box-sizing: border-box;}
blockquote p{width:100%;float: left;margin-top: 0 !important;font-size: 23px !important;padding-left: 80px;box-sizing: border-box;line-height: 32px;position: relative;}
blockquote p:before{content:'';background: url('../images/testimonial.png')no-repeat;width:27px;height: 22px;position: absolute;left:31px;top:0;}

table {float: left;margin-top: 20px; border-collapse: collapse;border-spacing: 0!important;}
td,th{border:1px solid #dddddd!important;padding: 7px;line-height: 21px;text-align: left;}
table input[type="checkbox"], input[type="radio"] {padding: 0;}
#sumled{border:1px solid #dddddd!important;padding: 7px;margin-left: 4px;}
i{font-style: italic;}
.team{width:100%;float:left;}
.team ul{width:100%;float:left;padding-left: 0!important;margin-top: 15px!important;}
.team ul li{width:236px!important;float:left!important;list-style: none;margin-right: 49px;margin-top: 20px!important;min-height: 322px;margin-bottom: 0!important;}
.team ul li h6{float: left;width: 100%;text-align: center;font-weight: 700;color:#4c4c4c;font-size: 15px;}
.contact{width:100%;float: left;margin:40px 0;}
.contact p{width: 100%;float: left;color: #4c4c4c;font-size: 15px;text-align: left;line-height: 27px;margin: 20px 0 0 0;}
.contact h1{width: 100%;float: left;font-size: 35px;color: #000;text-align: left;font-family: 'Libre Baskerville', serif;}
.contact h4{width: 100%;float: left;margin: 37px 0 0 0;color: #4c4c4c;font-weight: 700;font-size: 20px;text-align: left;text-transform: uppercase;}
.contact .contact-sec{width:500px;float: left;text-align: left;margin-top: 36px;background: #e8e8e8;padding: 20px;}
.contact .contact-sec .field-lft input{border: 1px solid #ccc;}
.contact .contact-sec .field-rgt textarea{border: 1px solid #ccc;}
.contact .contact-sec .field-lft{width:100%;}
.contact .contact-sec .field-rgt{width:100%;}
.contact .contact-details{width:600px;float: right;}
.contact b{font-weight: 700;}
.contact .map{width:100%;float: left;margin-top: 8px;}
.contact .recaptcha-sec{margin-top: 0;}
.contact .field-rgt .submit-sec input[type="submit"]{margin-top: 15px;}
.contact a{color: #ff9c00;}
.contact a:hover{color: #4c4c4c;}

.cms-content .box-content{width:100%;float: left;}
.cms-content .box-content p{position: relative;padding-left: 50px;box-sizing: border-box;}
.cms-content .box-content p:before{width:100%;float: left;content: ''; background: url('../images/testimonial.png')no-repeat;position: absolute;top: 8px;left: 0px;width: 27px;height: 22px;}
.appointment-sec{width:500px;float: left;margin-top: 30px;text-align: left;background: #e8e8e8;padding: 20px;}
.appointment-sec select{width:100%;float: left;-webkit-appearance: none; height: 52px;border: 1px solid #ccc;padding-left: 10px;margin-bottom: 15px;color: #000;-moz-appearance: none; font-family: 'Open Sans', sans-serif;
background: #fff url(data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=);background-repeat: repeat;background-position-x: 0%;background-position-y: 0%;
background-repeat: no-repeat;background-position: 96% 42%;font-size: 15px;}
.appointment-sec textarea{width:100%;float: left;height: 150px;border: 1px solid #ccc;padding-left: 10px;margin-bottom: 15px;color: #000;resize: none;}
.appointment-sec .recaptcha-sec{margin-top: 0;}
.appointment-sec .field-lft{width:100%;}
.appointment-sec .field-rgt{width:100%;}
.appointment-sec .field-rgt .submit-sec input[type="submit"]{margin-top: 15px;}
.appointment-sec .field-lft input{border:1px solid #ccc;}
.blog{width:100%;float: left;margin: 40px 0;}
.blog .blog-content{width: 855px;float: left;margin-right: 30px;}
.blog .blog-content ul{width: 100%;float: left;}
.blog .blog-content ul li{width: 100%;float: left;margin-bottom: 30px;background: #e8e8e8;padding: 20px;box-sizing:border-box;border:1px solid #ccc;}
.blog .blog-content .post_info{width: 100%;float: left;text-align: left;}
.blog .blog-content .post_info .date a{color:#ff9c00;font-weight: 700;}
.blog .blog-content .post_info .date a:hover{color:#2c4651;}
.blog .blog-content .post_info .author b{color:#2c4651;font-weight: 700;}
.blog .blog-content .title{text-align: left;width: 100%;float: left;font-size: 16px;margin-top: 20px;}
.blog .blog-content .title a{color:#2c4651;font-weight: 700;text-transform: uppercase;line-height: 23px;}
.blog .blog-content .title a:hover{color:#ff9c00;}
.blog .blog-content .excerpt{width:100%;float: left;margin-top: 10px;}
.blog .blog-content .excerpt p{width:100%;float: left;line-height: 23px;text-align: left;}
.blog .blog-content .readmore{width:auto;float: left;text-align: left;background: #ff9c00;color: #fff;font-weight: 700;padding: 12px 20px;font-size: 14px;text-transform: uppercase;margin-top: 20px;border-radius: 23px;}
.blog .blog-content .readmore:hover{background: #2c4651;}
.nav-previous{width:100%;float: left;}
.nav-previous a{font-weight: 700;color: #2c4651;}
.nav-previous a:hover{font-weight: 700;color:#ff9c00;}
.nav-next{width:100%;float: left;margin-top: 10px;}
.nav-next a{font-weight: 700;color: #2c4651;}
.nav-next a:hover{font-weight: 700;color:#ff9c00;}





.blog .right-sidebar{width:285px;float: left;}
.blog .right-sidebar .testimonials{width:100%; float: left;min-height: 400px;}
.blog .right-sidebar .testimonials h2{width:100%; float: left; text-align: center;font-size: 21px; color: #fff;text-transform: uppercase;background: #2c4651;padding: 25px 50px;box-sizing: border-box;font-family: 'Libre Baskerville', serif;}
.blog .right-sidebar .testimonials .box-content{padding: 65px 30px 29px 30px;position: relative;background: #f7f7f7;}
.blog .right-sidebar .testimonials .box-content:before{content: ''; background: url('../images/testimonial.png')no-repeat;position: absolute;top:22px;left:120px;width:27px;height: 22px;}
.blog .right-sidebar .testimonials p{font-size: 16px;font-style: italic;color: #4a4a4a;line-height: 27px;font-family: 'Open Sans', sans-serif!important;}
.blog .right-sidebar .testimonials .cycle-nav{display: none!important;}
.blog .right-sidebar .testimonials .box-title{display:none;}
.blog .right-sidebar .testimonials .box-image img{display:none;}

.blog .right-sidebar .contact-form{width:100%;float: left;background: #2c4651;padding: 27px 20px 24px 20px;margin-top: 5px;}
.blog .right-sidebar .contact-form h2{width:100%; float: left; text-align: center;font-size: 21px; color: #fff;text-transform: uppercase;background: #2c4651;box-sizing: border-box;font-family: 'Libre Baskerville', serif;line-height: 27px;margin: 0 0 21px 0;}
.blog .right-sidebar .contact-form .field-lft{width:100%;}
.blog .right-sidebar .contact-form .field-lft input {height:53px;margin-bottom: 7px;}
.blog .right-sidebar .contact-form .field-rgt textarea{height: 113px;margin-bottom: 7px;}
.blog .right-sidebar .contact-form .field-rgt{width:100%;}
.blog .right-sidebar .contact-form .recaptcha-sec{transform: scale(0.81)!important;-webkit-transform: scale(0.81)!important;transform-origin: 0 0;-webkit-transform-origin: 0 0;width:300px;margin-top: 0;}
.blog .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]{margin-top: 0;}
.blog .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]{float: none;display: inline-block;}
.blog .right-sidebar .contact-form .field-rgt .submit-sec input[type="submit"]:hover{background: #ff9c00;}
.blog .right-sidebar .contact-form div.wpcf7 .ajax-loader{display: none;}


.blog .blog-inner-content{width: 855px;float: left;margin-right: 30px;}
.blog .blog-inner-content a{color:#ff9c00;}
.blog .blog-inner-content a:hover{color:#2c4651;}
.blog .blog-inner-content p {width: 100%;float: left;color: #4c4c4c;font-size: 15px;text-align: left;line-height: 27px;margin: 20px 0 0 0;}
.blog h1{width: 100%;float: left;font-size: 35px;color: #000;text-align: left;font-family: 'Libre Baskerville', serif;line-height: 45px;}
.category{display: none;}
.blog .comments-area{width:400px;float: left;}
.blog .comments-area label{width:100%;float: left;}
.blog .comments-area .comment-respond h3{width:100%;float: left;text-align: left;color: #4c4c4c;font-size: 20px;margin-top: 20px;}
.blog .comments-area textarea{border:1px solid #ccc;resize: none;font-size: 14px;padding: 10px;height: 150px;width:100%;box-sizing:border-box;}
.blog .comments-area input[type="text"], input[type="name"], input[type="email"],input[type="name"]{resize: none;font-size: 14px;padding: 10px;height: 46px;width:100%;border: 1px solid #ccc;}
.blog .comment-form-url input{border:1px solid #ccc;resize: none;font-size: 14px;padding: 10px;height: 46px;width:100%;box-sizing:border-box;}
.blog .comments-area input[type="submit"]{background: #ff9c00;color: #fff;padding: 14px 16px 16px 16px;height: 46px;float: left;font-size: 14px;font-weight: 700;text-transform: uppercase;border-radius: 23px;
font-family: 'Open Sans', sans-serif;}
.blog .comments-area input[type="submit"]:hover{background: #2c4651;}
.blog .error{color:red;}
.tag{width:100%;float: left;}
.blog-inner-content ul{width:100%;float: left;text-align: left;padding-left: 15px;margin-top: 20px;box-sizing:border-box;list-style-type: disc;}
.blog-inner-content li{width:100%;float: left;margin-bottom: 15px;color: #4c4c4c;line-height: 23px;}
.blog-inner-content h4 {width: 100%;float: left;color: #4c4c4c;font-size: 22px;font-weight: 700;text-align: left;margin: 37px 0 0 0;text-transform: uppercase;}
.error-404{width:100%;float: left; margin: 40px 0;}


.blog .right-sidebar .latest-post{width:100%;float: left;text-align: left;border: 1px solid #e6e6e6;margin-bottom: 20px;}
.blog .right-sidebar .latest-post ul{width:100%;float: left;list-style-type: disc;padding:20px 10px 20px 30px;box-sizing:border-box;}
.blog .right-sidebar .latest-post ul li{width:100%;float: left;margin-bottom: 10px;line-height: 21px;}
.blog .right-sidebar .latest-post ul li a{color: #2c4651;}
.blog .right-sidebar .latest-post ul li a:hover{color:#ff9c00;}
.blog .right-sidebar .latest-post h2{width:100%;float: left;font-size: 21px; color: #fff;background: #2c4651;padding: 20px;text-align: center; text-transform: uppercase;box-sizing: border-box;font-family: 'Libre Baskerville', serif;}

.blog .right-sidebar .archives{width:100%;float: left;text-align: left;border: 1px solid #e6e6e6;margin-bottom: 20px;}
.blog .right-sidebar .archives ul{width:100%;float: left;list-style-type: disc;padding:20px 10px 20px 30px;box-sizing:border-box;}
.blog .right-sidebar .archives ul li{width:100%;float: left;margin-bottom: 10px;line-height: 21px;}
.blog .right-sidebar .archives ul li a{color: #2c4651;}
.blog .right-sidebar .archives ul li a:hover{color:#ff9c00;}
.blog .right-sidebar .archives h2{width:100%;float: left;font-size: 21px; color: #fff;background: #2c4651;padding: 20px;text-align: center; text-transform: uppercase;box-sizing: border-box;font-family: 'Libre Baskerville', serif;}

.blog .right-sidebar .all-tags{width:100%;float: left;text-align: left;border: 1px solid #e6e6e6;margin-bottom: 20px;}
.blog .right-sidebar .all-tags ul{width:100%;float: left;list-style:none; padding:20px 10px 20px 30px;box-sizing:border-box;}
.blog .right-sidebar .all-tags ul li{float: left;margin-bottom: 10px;line-height: 21px;border: 1px solid #e6e6e6;margin-right: 5px;padding: 8px;}
.blog .right-sidebar .all-tags ul li a{color: #2c4651;}
.blog .right-sidebar .all-tags ul li a:hover{color:#ff9c00;}
.blog .right-sidebar .all-tags h2{width:100%;float: left;font-size: 21px; color: #fff;background: #2c4651;padding: 20px;text-align: center; text-transform: uppercase;box-sizing: border-box;font-family: 'Libre Baskerville', serif;}
.comments-title{width:100%;float: left;text-align: left;line-height: 21px;margin: 10px 0px;}
.comment-list{width:100%;float: left;text-align: left;background: #e8e8e8;padding: 20px;list-style: none;box-sizing: border-box;}
.comment-list .fn{width:100%;vertical-align: top;}
.comment-list .fn a{width:100%;vertical-align: top;}
.comment-list .says{width:100%;vertical-align: top;}
.#wpsm_accordion_742{width:100%;float: left!important;margin-top: 20px;}
#wpsm_accordion_742 .ac_open_cl_icon{padding-left: 0!important; }
.parsley-errors-list{margin-top: 0!important;}
.parsley-custom-error-message{text-align: left;}

.navigation{width:100%;float: left;}
ol.wp-paginate li{width:auto!important;float:left!important;margin-bottom: 0!important;background: none!important;padding: 0!important;border: none!important;}
ol.wp-paginate .current{background: #2c4651;border: 1px solid #2c4651;}

div.wpcf7-response-output{border:none!important;display: none!important;}


.owl-carousel .owl-item img{width:auto!important;display:inline-block!important;}
.home-slide .caption{width: 100%;float: left;position: absolute;text-align: right;top:70px;}
.home-slide .caption h3{font-size: 27px;font-weight: 700;border-bottom: 1px solid;display: inline-block;padding-bottom: 7px;border-bottom: 1px solid #7c7c7a;color:#000;}
.home-slide .caption h1{font-size: 47px;color:#000;font-family: 'Libre Baskerville';line-height: 55px;margin-top: 14px;}
.home-slide .caption h5{font-size: 17px;color:#000;margin-top: 5px;}
.home-slide .banner-phone{float: right;width: auto;margin-top: 40px;}

.expand{cursor: pointer;color:#ff9c00!important;font-weight: 700;text-transform: uppercase;}
.expand:hover{color: #4c4c4c!important;}
.mind{list-style:none!important;padding-left: 0!important;margin: 20px 0 0 0!important;}
.banner-dropdown{width: 100%;float: left;position: absolute;bottom: 0;left: 50%;right: 0;position: fixed;margin-left: -80px;}